{% extends 'FromBranch/FromBranchVoucher/layouts/masterWithOutHead.html' %}

{% block content %}
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-12">
            <div class="row" style="margin-top: 5rem;text-align:center;margin-left: 8.5rem;">
                <div class="col-8 col-lg-4 col-md-7">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div
                                    class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-center ">
                                    <div class="stats-icon purple mb-3"
                                        style="display: flex;justify-content: center;align-items: center; height:100px; width: 100px; margin: 0auto;">
                                        <img src="./assets/static/images/samples/laundry-clean.png">
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-14 col-xl-12 col-xxl-7">

                                    <h6 class="font-extrabold mb-0">Washing</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-lg-4 col-md-7">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div
                                    class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-center ">
                                    <div class="stats-icon blue mb-3"
                                        style="display: flex;justify-content: center;align-items: center; height:100px; width: 100px; margin: 0auto;">

                                        <img src="./assets/static/images/samples/Ironing-pressing-icon.png">
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">

                                    <h6 class="font-extrabold mb-0">Pressing</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-lg-4 col-md-7">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div
                                    class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-center ">
                                    <!-- <div  style="text-align:center" class="stats-icon blue mb-3"> -->
                                    <div class="stats-icon purple mb-3 center-icon"
                                        style="display: flex;justify-icon: center;align-items: center; height:100px; width: 100px; margin: 0auto;">

                                        <img src="./assets/static/images/samples/leave-us.png">


                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">

                                    <h6 class="font-extrabold mb-0">Completion</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>
<div style="margin-left: 20rem;">

    <img src="./assets/static/images/samples/lundry-removebg-preview.png">
</div>


    {% endblock %}