{% extends 'FromBranch/FromBranchVoucher/layouts/masterWithOutHead.html' %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-lg-12 col-md-6 order-md-1 order-last">
                <h3>DC-BranchItems</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inward</li>
                    <li class="breadcrumb-item active" aria-current="page">FromBranch</li>
                    <li class="breadcrumb-item active" aria-current="page">FromBranchVoucher</li>
                    <li class="breadcrumb-item active" aria-current="page">VerticalShow</li>
                    <li class="breadcrumb-item active" aria-current="page" id="RefreshBSTableId">FromBranchDCQrs</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6 style="display: inline;">Voucher Number </h6>
                </div>
                <div class="col-1">:</div>
                <div class="col-7">
                    <b>
                        <p style="display: inline;" id="VoucherNumberTextId">Not found</p>
                    </b>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6 style="display: inline;">Date </h6>
                </div>
                <div class="col-1">:</div>
                <div class="col-7">
                    <b>
                        <p style="display: inline;" id="DateTextId">Not found</p>
                    </b>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6 style="display: inline;">Description</h6>
                </div>
                <div class="col-1">:</div>
                <div class="col-7">
                    <b>
                        <p style="display: inline;" id="DescriptionTextId">Not found</p>
                    </b>
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6 style="display: inline;">BranchName</h6>
                </div>
                <div class="col-1">:</div>
                <div class="col-7">
                    <b>
                        <p style="display: inline;" id="BranchNameTextId">Not found</p>
                    </b>
                </div>
            </div>
        </div>

        <!--  Inverse table start -->
        <section class="section">
            <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
                <span class="visually-hidden">Loading...</span>
            </div>
            <table class="table table-dark mb-0" id="table">
                <thead>
                    <tr>
                        <th data-formatter="jFGlobalSerialColumn">#</th>
                    </tr>

                </thead>
            </table>
        </section>
        <!-- Inverse table end -->
    </div>
    <section class="section">
        <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>

        <table class="table table-dark mb-0" id="table">
        </table>
    </section>
</div>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="module" src="./Js/pages/ShowDCBranchItems/StartFunc.js"></script>


{% endblock %}