{% extends 'Laundry/WashingVoucher/layouts/masterWithImage.html' %}

{% block content %}
<div class="page-heading">
    <!--  Inverse table start -->
    <section class="section">
        <div class="row" id="table-inverse">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" id="FormId" onsubmit="return false">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="Date">Date</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="date" id="Date" class="form-control" name="Date" placeholder=""
                                                required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="Description">Description</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="Description" class="form-control" name="Description"
                                                placeholder="" required autofocus>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="FactoryName">FactroyName</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="FactoryName" class="form-control" name="FactoryName"
                                                readonly>
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button class="btn btn-success me-1 mb-1" id="SaveButtonId">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inverse table end -->
</div>

<script>
    let jVarGlobalPresentViewData;

    function jFLocalSerialColumn(value, row, index) {
        return index + 1;
    };
</script>

<!-- <script type="module" src="./Js/pages/createDC/StartFunc.js"></script> -->
<script type="module" src="./Js/pages/createDC/StartFunc.js"></script>
{% endblock %}