{% extends 'Laundry/WashingVoucher/layouts/masterWithImage.html' %}

{% block content %}
<div class="page-heading">
    <!--  Inverse table start -->
    <section class="section">
        <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>

        <table class="table table-dark mb-0" id="table">
            <thead>
                <tr>
                    <th data-formatter="jFGlobalSerialColumn">#</th>
                </tr>
            </thead>
        </table>
    </section>
    <!-- Inverse table end -->
</div>

<script>
    let jVarGlobalPresentViewData;

    function jFLocalSerialColumn(value, row, index) {
        return index + 1;
    };
    function ItemsFormatter(value, row, index) {
        let jVarLocalBranchName = getUrlQueryParams1({ inGetKey: "BranchName" });

        // console.log("row:", row);
        return [
            `<a class="like btn btn-success" href="./insertDCItems.html?VoucherRef=${row.pk}" title="Show">`,
            '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">',
            '<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>',
            '<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>',
            '</svg>',
            ' ',
            row.ItemDetails,
            '</a>',

        ].join('')

    };
    let getUrlQueryParams1 = ({ inGetKey }) => {
        const queryString = window.location.search;
        const parameters = new URLSearchParams(queryString);
        const value = parameters.get(inGetKey);
        return value;
    };
    function totalFormatter(data) {
        var field = this.field;
        let LocalTotal = data.map(function (row) {
            if (row[field] === undefined) {
                return 0;
            };
            return +row[field];
        }).reduce(function (sum, i) {
            return sum + i
        }, 0);

        return Math.floor(LocalTotal);
    };

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- <script type="module" src="./Js/pages/insertToDC/StartFunc.js"></script> -->
<script type="module" src="./Js/pages/insertToDC/StartFunc.js"></script>
{% endblock %}