{% extends 'Laundry/WashingVoucher/layouts/masterWithImage.html' %}
{% block content %}
<div class="page-heading">

    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6 style="display: inline;">Voucher Number </h6>
                </div>
                <div class="col-1">:</div>
                <div class="col-7">
                    <b>
                        <p style="display: inline;" id="VoucherNumberTextId">Not found</p>
                    </b>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6 style="display: inline;">Date </h6>
                </div>
                <div class="col-1">:</div>
                <div class="col-7">
                    <b>
                        <p style="display: inline;" id="DateTextId">Not found</p>
                    </b>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6 style="display: inline;">Description</h6>
                </div>
                <div class="col-1">:</div>
                <div class="col-7">
                    <b>
                        <p style="display: inline;" id="DescriptionTextId">Not found</p>
                    </b>
                </div>
            </div>
        </div>

        <!--  Inverse table start -->
        <section class="section">
            <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
                <span class="visually-hidden">Loading...</span>
            </div>
            <table class="table table-dark mb-0" id="table">
                <thead>
                    <tr>
                        <th data-formatter="jFGlobalSerialColumn">#</th>
                    </tr>

                </thead>
            </table>
        </section>
        <!-- Inverse table end -->
    </div>

    <script>
        let jVarGlobalPresentViewData;

        function jFLocalSerialColumn(value, row, index) {
            return index + 1;
        };


        function priceFormatter(data) {
            var field = this.field
            return '' + data.map(function (row) {
                return +row.ItemDetails
            }).reduce(function (sum, i) {
                return sum + i
            }, 0)
        }
        function totalFormatter(data) {
        var field = this.field;
        let LocalTotal = data.map(function (row) {
            if (row[field] === undefined) {
                return 0;
            };
            return +row[field];
        }).reduce(function (sum, i) {
            return sum + i
        }, 0);

        return Math.floor(LocalTotal);
    };

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="module" src="./Js/pages/insertDCItems/StartFunc.js"></script>


    {% endblock %}