{% extends 'AtFactory/PressingVoucher/layouts/masterWithOutHead.html' %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-lg-12 col-md-6 order-md-1 order-last">
                <h3>ReWashDC</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Process</li>
                        <li class="breadcrumb-item active" aria-current="page">Pressing</li>
                        <li class="breadcrumb-item active" aria-current="page">PressingVoucher</li>
                        <li class="breadcrumb-item active" aria-current="page">create</li>
                        <li class="breadcrumb-item active" aria-current="page">ReWashDC</li>
                </ol>
            </div>
        </div>
    </div>

    <!--  Inverse table start -->
    <section class="section">
        <div class="row" id="table-inverse">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" id="FormId" onsubmit="return false">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="Date">Date</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="date" id="Date" class="form-control" name="Date" placeholder=""
                                                required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="Description">Description</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="Description" class="form-control" name="Description"
                                                placeholder="" required autofocus>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="FactoryName">FactroyName</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="FactoryName" class="form-control" name="FactoryName"
                                                readonly>
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button class="btn btn-success me-1 mb-1" id="SaveButtonId">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inverse table end -->
    <section class="section">
        <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>

        <table class="table table-dark mb-0" id="table">
        </table>
    </section>
</div>
    


<script>
    let jVarGlobalPresentViewData;

    function jFLocalSerialColumn(value, row, index) {
        return index + 1;
    };
</script>

<!-- <script type="module" src="./Js/pages/createDC/StartFunc.js"></script> -->
<script type="module" src="./Js/pages/createReWashDC/StartFunc.js"></script>
{% endblock %}