{% extends 'AtFactory/FromEntryQrCodes/layouts/masterWithOutHead.html' %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Pending Show All</h3>
                <nav class="d-none d-sm-block">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item">Process</li>
                        <li class="breadcrumb-item">FromEntryQrCodes</li>
                        <li class="breadcrumb-item ">Pending</li>
                        <li class="breadcrumb-item active">ShowAll</li>
    
                         
                    </ol>
                </nav>
 
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Table</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>

        <table class="table table-dark mb-0" id="table">
        </table>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script type="module" src="./Js/pages/PendingShowALl/StartFunc.js"></script>


{% endblock %}