{% extends 'AtFactory/FromEntryQrCodes/layouts/masterWithImage.html' %}

{% block content %}
<div class="page-heading">
    <!--  Inverse table start -->
    <section class="section">
        <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <table class="table table-dark mb-0" id="table">
        </table>
    </section>
    <!-- Inverse table end -->
    {% endblock %}

    {% block js %}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script type="module" src="./Js/pages/ReWashFilterShow/StartFunc.js"></script>


{% endblock %}