{% extends 'AtFactory/FromEntryQrCodes/layouts/masterWithImage.html' %}

{% block content %}
<div class="page-heading">
    <!--  Inverse table start -->
    <section class="section">
        <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <table class="table table-dark mb-0" id="table">
        </table>
    </section>
    <!-- Inverse table end -->
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="module" src="./Js/pages/ScannedFilterShow/StartFunc.js"></script>


{% endblock %}